{% extends 'layout.html' %}

{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 large-explanation">
      <div class="header-container">
        <h1>About</h1>
      </div>
      <hr/>
      <p>
Speak Louder was created by <a href="http://www.ianww.com">Ian Webster</a> as a
way to provide free organization and telephony tools for grassroots causes.
      </p>
      <p>
        To get in touch, email
        <script>
          document.write('<a href="mailto:con' + 'tact@spe' + String.fromCharCode(97) + 'klouder.org">con' + 'tact@spe' + String.fromCharCode(97) + 'klouder.org</a>.');
        </script>
      </p>
      <p>
This service has its origins in the Call Congress phone number, 1-844-USA-0234,
which automatically connects callers with their representatives, one after the
other.  It was originally launched on <a
href="http://www.ianww.com/blog/2016/06/15/call-your-congressperson-with-one-phone-number-1-844-usa-4522/">Ian's
site</a> and has facilitated thousands of phone calls for causes as varied as
gun control, social justice, and airport noise abatement.
      </p>
      <p>
It's easy to feel helpless when watching the news or discussing problems in our
country.  Speak Louder is rooted in the belief that representative democracy
can work.  Even a single phone call to a Congressperson creates marginal
change.  Congressional offices routinely compile statistics on the calls of
their constituents.  If you believe strongly in something, we encourage you to
take action to back it up.
      </p>
    </div>
  </div>
</div>
{% endblock %}
