{% extends 'layout.html' %}

{% block body %}
<div class="container-fluid">
  {% if messages.success %}
  <div role="alert" class="alert alert-success">
    {% for success in messages.success %}
    <div>{{ success.msg }}</div>
    {% endfor %}
  </div>
  {% endif %}
  {% if messages.error %}
  <div role="alert" class="alert alert-danger">
    {% for error in messages.error %}
    <div>{{ error.msg }}</div>
    {% endfor %}
  </div>
  {% endif %}
  {% if messages.info %}
  <div role="alert" class="alert alert-info">
    {% for info in messages.info %}
    <div>{{ info.msg }}</div>
    {% endfor %}
  </div>
  {% endif %}
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 large-explanation">
      <div class="header-container">
        <h1>Tools for organizing action &amp; reaching representatives</h1>
      </div>
      <hr/>
      <p>
        <strong>Speak Louder</strong> helps organize group calling campaigns to representatives in Congress.
      </p>
      <div class="well main-well">
        <p>
          Free tools:
          <ul>
            <li><a href="/create-campaign">Set up a phone line</a> that automatically dials your supporters' representatives in Congress, one after the other.</li>
            <li><a href="/create-campaign">Build a landing page</a> for your call-in campaign.</li>
          </ul>
        <p>
      </div>
      <p>
        Organize more effective campaigns by contacting Congressional offices repeatedly and directly.
      </p>
      <p class="call-to-action-container">
        <a href="/create-campaign" class="btn btn-success">Create your campaign now</a>
        <br>
        <span class="sub-caption">Free - it only takes a minute to boost engagement among your supporters.</span>
      </p>

      <hr/>

      <div>
        <h3>Trending campaigns</h3>
        <div class="col-sm-4">
          <div class="panel campaign-panel">
            <div class="panel-body">
              <h4>Standing Rock</h4>
              <img src="https://i.imgur.com/KdQK2fSm.jpg" />
              <div class="desc">
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="panel campaign-panel">
            <div class="panel-body">
              <h4>Black Lives Matter</h4>
              <img src="https://i.imgur.com/jYmf0BGm.jpg" />
              <div class="desc">
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="panel campaign-panel">
            <div class="panel-body">
              <h4>Gun Control</h4>
              <img src="https://i.imgur.com/ZCWkR47m.jpg" />
              <div class="desc">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}