{% extends 'layout.html' %}

{% block body %}
<div class="container-fluid">
  {% if messages.success %}
  <div role="alert" class="alert alert-success">
    {% for success in messages.success %}
    <div>{{ success.msg }}</div>
    {% endfor %}
  </div>
  {% endif %}
  {% if messages.error %}
  <div role="alert" class="alert alert-danger">
    {% for error in messages.error %}
    <div>{{ error.msg }}</div>
    {% endfor %}
  </div>
  {% endif %}
  {% if messages.info %}
  <div role="alert" class="alert alert-info">
    {% for info in messages.info %}
    <div>{{ info.msg }}</div>
    {% endfor %}
  </div>
  {% endif %}
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 large-explanation">
      <div class="header-container">
        <h1>Create a campaign</h1>
      </div>
      <p>
        This will create a landing page for your call-in campaign and assign a phone number.
      </p>
      <hr/>
      <form class="form-horizontal">
        <div class="form-group">
          <label for="name" class="col-sm-2">Name</label>
          <div class="col-sm-8">
            <input type="text" name="name" id="name" class="form-control" placeholder="Organization or person" autofocus>
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="col-sm-2">Email</label>
          <div class="col-sm-8">
            <input type="email" name="email" id="email" class="form-control" placeholder="Your email address">
          </div>
        </div>
        <div class="form-group">
          <label for="issue" class="col-sm-2">Issue</label>
          <div class="col-sm-8">
            <input type="text" name="issue" id="issue" class="form-control" placeholder="What problem are you trying to solve?">
          </div>
        </div>
        <div class="form-group">
          <label for="message" class="col-sm-2">Description</label>
          <div class="col-sm-8">
            <div id="toolbar" class="toolbar">
                <select class="ql-size">
                  <option value="small"></option>
                  <!-- Note a missing, thus falsy value, is used to set the size back to default -->
                  <option selected></option>
                  <option value="large"></option>
                  <option value="huge"></option>
                </select>

                <span class="ql-format-group">
                  <button class="ql-bold"></button>
                  <button class="ql-italic"></button>
                  <button class="ql-underline"></button>
                </span>

                <span class="ql-format-group">
                  <button class="ql-list" value="ordered" type="button"></button>
                  <button class="ql-list" value="bullet" type="button"></button>
                  <button class="ql-align" type="button"></button>
                </span>

                <span class="ql-format-group">
                  <select title="Text Color" class="ql-color" value="rgb(0, 0, 0)">
                    <option value="rgb(0, 0, 0)" label="rgb(0, 0, 0)"/>
                    <option value="rgb(230, 0, 0)" label="rgb(230, 0, 0)"/>
                    <option value="rgb(255, 153, 0)" label="rgb(255, 153, 0)"/>
                    <option value="rgb(255, 255, 0)" label="rgb(255, 255, 0)"/>
                    <option value="rgb(0, 138, 0)" label="rgb(0, 138, 0)"/>
                    <option value="rgb(0, 102, 204)" label="rgb(0, 102, 204)"/>
                    <option value="rgb(153, 51, 255)" label="rgb(153, 51, 255)"/>
                    <option value="rgb(250, 204, 204)" label="rgb(250, 204, 204)"/>
                    <option value="rgb(255, 235, 204)" label="rgb(255, 235, 204)"/>
                    <option value="rgb(255, 255, 204)" label="rgb(255, 255, 204)"/>
                    <option value="rgb(204, 232, 204)" label="rgb(204, 232, 204)"/>
                    <option value="rgb(204, 224, 245)" label="rgb(204, 224, 245)"/>
                    <option value="rgb(235, 214, 255)" label="rgb(235, 214, 255)"/>
                    <option value="rgb(187, 187, 187)" label="rgb(187, 187, 187)"/>
                    <option value="rgb(240, 102, 102)" label="rgb(240, 102, 102)"/>
                    <option value="rgb(255, 194, 102)" label="rgb(255, 194, 102)"/>
                    <option value="rgb(255, 255, 102)" label="rgb(255, 255, 102)"/>
                    <option value="rgb(102, 185, 102)" label="rgb(102, 185, 102)"/>
                    <option value="rgb(102, 163, 224)" label="rgb(102, 163, 224)"/>
                    <option value="rgb(194, 133, 255)" label="rgb(194, 133, 255)"/>
                    <option value="rgb(136, 136, 136)" label="rgb(136, 136, 136)"/>
                    <option value="rgb(161, 0, 0)" label="rgb(161, 0, 0)"/>
                    <option value="rgb(178, 107, 0)" label="rgb(178, 107, 0)"/>
                    <option value="rgb(178, 178, 0)" label="rgb(178, 178, 0)"/>
                    <option value="rgb(0, 97, 0)" label="rgb(0, 97, 0)"/>
                    <option value="rgb(0, 71, 178)" label="rgb(0, 71, 178)"/>
                    <option value="rgb(107, 36, 178)" label="rgb(107, 36, 178)"/>
                    <option value="rgb(68, 68, 68)" label="rgb(68, 68, 68)"/>
                    <option value="rgb(92, 0, 0)" label="rgb(92, 0, 0)"/>
                    <option value="rgb(102, 61, 0)" label="rgb(102, 61, 0)"/>
                    <option value="rgb(102, 102, 0)" label="rgb(102, 102, 0)"/>
                    <option value="rgb(0, 55, 0)" label="rgb(0, 55, 0)"/>
                    <option value="rgb(0, 41, 102)" label="rgb(0, 41, 102)"/>
                    <option value="rgb(61, 20, 102)" label="rgb(61, 20, 102)"/>
                  </select>
                  <select title="Background Color" class="ql-background" value="rgb(255, 255, 255)">
                    <option value="rgb(0, 0, 0)" label="rgb(0, 0, 0)"/>
                    <option value="rgb(230, 0, 0)" label="rgb(230, 0, 0)"/>
                    <option value="rgb(255, 153, 0)" label="rgb(255, 153, 0)"/>
                    <option value="rgb(255, 255, 0)" label="rgb(255, 255, 0)"/>
                    <option value="rgb(0, 138, 0)" label="rgb(0, 138, 0)"/>
                    <option value="rgb(0, 102, 204)" label="rgb(0, 102, 204)"/>
                    <option value="rgb(153, 51, 255)" label="rgb(153, 51, 255)"/>
                    <option value="rgb(250, 204, 204)" label="rgb(250, 204, 204)"/>
                    <option value="rgb(255, 235, 204)" label="rgb(255, 235, 204)"/>
                    <option value="rgb(255, 255, 204)" label="rgb(255, 255, 204)"/>
                    <option value="rgb(204, 232, 204)" label="rgb(204, 232, 204)"/>
                    <option value="rgb(204, 224, 245)" label="rgb(204, 224, 245)"/>
                    <option value="rgb(235, 214, 255)" label="rgb(235, 214, 255)"/>
                    <option value="rgb(187, 187, 187)" label="rgb(187, 187, 187)"/>
                    <option value="rgb(240, 102, 102)" label="rgb(240, 102, 102)"/>
                    <option value="rgb(255, 194, 102)" label="rgb(255, 194, 102)"/>
                    <option value="rgb(255, 255, 102)" label="rgb(255, 255, 102)"/>
                    <option value="rgb(102, 185, 102)" label="rgb(102, 185, 102)"/>
                    <option value="rgb(102, 163, 224)" label="rgb(102, 163, 224)"/>
                    <option value="rgb(194, 133, 255)" label="rgb(194, 133, 255)"/>
                    <option value="rgb(136, 136, 136)" label="rgb(136, 136, 136)"/>
                    <option value="rgb(161, 0, 0)" label="rgb(161, 0, 0)"/>
                    <option value="rgb(178, 107, 0)" label="rgb(178, 107, 0)"/>
                    <option value="rgb(178, 178, 0)" label="rgb(178, 178, 0)"/>
                    <option value="rgb(0, 97, 0)" label="rgb(0, 97, 0)"/>
                    <option value="rgb(0, 71, 178)" label="rgb(0, 71, 178)"/>
                    <option value="rgb(107, 36, 178)" label="rgb(107, 36, 178)"/>
                    <option value="rgb(68, 68, 68)" label="rgb(68, 68, 68)"/>
                    <option value="rgb(92, 0, 0)" label="rgb(92, 0, 0)"/>
                    <option value="rgb(102, 61, 0)" label="rgb(102, 61, 0)"/>
                    <option value="rgb(102, 102, 0)" label="rgb(102, 102, 0)"/>
                    <option value="rgb(0, 55, 0)" label="rgb(0, 55, 0)"/>
                    <option value="rgb(0, 41, 102)" label="rgb(0, 41, 102)"/>
                    <option value="rgb(61, 20, 102)" label="rgb(61, 20, 102)"/>
                  </select>
                </span>

                <span class="ql-format-group">
                  <span class="ql-format-separator"/>
                  <!--<button class="ql-image"></button>-->
                  <button class="ql-link"></button>
                </span>
            </div>
            <div id="editor" style="height: 375px;"></div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-8">
            <button id="submit" class="btn btn-success">Create my campaign</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="//cdn.quilljs.com/1.0.0-rc.2/quill.snow.css">
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="//cdn.quilljs.com/1.0.0-rc.2/quill.js"></script>
<script type="text/javascript" src="/js/create.js"></script>
{% endblock %}
