{% extends 'layout.html' %}

{% block body %}
<div class="container-fluid">
  {% if messages.success %}
  <div role="alert" class="alert alert-success">
    {% for success in messages.success %}
    <div>{{ success.msg }}</div>
    {% endfor %}
  </div>
  {% endif %}
  {% if messages.error %}
  <div role="alert" class="alert alert-danger">
    {% for error in messages.error %}
    <div>{{ error.msg }}</div>
    {% endfor %}
  </div>
  {% endif %}
  {% if messages.info %}
  <div role="alert" class="alert alert-info">
    {% for info in messages.info %}
    <div>{{ info.msg }}</div>
    {% endfor %}
  </div>
  {% endif %}
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 large-explanation">
      <div class="header-container">
        <h1>Tools for organizing action &amp; reaching representatives</h1>
      </div>
      <hr/>
      <p>
        <strong>Speak Louder</strong> gives activists tools to organize and create change.
      </p>
      <div class="well main-well">
        <p>
          Free tools:
          <ul>
            <li><a href="/create-campaign">Set up a phone line</a> that automatically dials your supporters' representatives in Congress, one after the other.</li>
            <li><a href="/create-campaign">Build a landing page</a> for your call-in campaign.</li>
            <li><a href="/create-campaign">Send mass emails &amp; text messages</a> to your supporters.</li>
          </ul>
        <p>
      </div>
      <p>
        Organize more effective campaigns by contacting Congressional offices repeatedly and directly.
      </p>
      <p class="call-to-action-container">
        <a href="/create-campaign" class="btn btn-success">Create your campaign now</a>
        <br>
        <span class="sub-caption">Free - it only takes a minute to boost engagement among your supporters.</span>
        <br>
        <!--<a href="/browse-campaigns" class="btn btn-success">Search for the issues you care about</a>-->
      </p>
    </div>
  </div>
</div>
{% endblock %}
