$link-color: #008800;

$navbar-default-link-color: #404040;
$navbar-default-link-hover-color: #008800;
$navbar-default-brand-color: #008800;
$navbar-default-brand-hover-color: #00bb00;

@import "vendor/bootstrap";

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 44px;
}

footer {
  position: absolute;
  width: 100%;
  height: 44px;
  padding: 10px 30px;
  bottom: 0;
  background-color: #fff;
  border-top: 1px solid #e0e0e0;
}

.login-container {
  max-width: 555px;
}

// Alerts
// -------------------------

.alert {
  border-width: 0 0 0 3px;
}

// Navbar
// -------------------------

nav {
  font-family: $font-family-sans-serif;
}

.navbar-default .navbar-nav > li > a {
  border-bottom: 3px solid transparent;
  padding-bottom: ($navbar-padding-vertical - 3);
  transition: all 0.25s;
  &:hover {
    border-bottom-color: #bdbdbd;
  }
  &.navbar-avatar {
    padding-top: $navbar-padding-vertical - 4.5;
    padding-bottom: ($navbar-padding-vertical - 4.5) - 3;
    img {
      border-radius: 50%;
      width: 30px;
      height: 30px;
    }
  }
}

.navbar-default .navbar-nav > li.active > a {
  border-bottom-color: #004400;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-sizing {
  padding-left: 0;
}

// Panels
// -------------------------

.panel {
  border: solid 1px rgba(160, 160, 160, 0.3);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}

.panel-heading + .panel-body {
  padding-top: 0;
}

.panel-body {
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
  }
}

.panel-title {
  font-size: 18px;
  color: #424242;
}

// Buttons
// -------------------------

.btn-toolbar > .btn {
  float: none;
  margin-bottom: 5px;
}

.btn {
  font-weight: 600;
  border-radius: 3px;
  &:focus {
    outline: 0 !important;
  }
}

.btn-default {
  border-color: #ccc;
  background: #f5f5f5 linear-gradient(to bottom, #fff, #f5f5f5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), inset 0 -1px 4px rgba(151, 159, 175, 0.2);
  &:active {
    background: darken(#f5f5f5, 6%) linear-gradient(to bottom, darken(#fff, 6%), darken(#f5f5f5, 6%));
  }
}

.btn-success {
  border-color: #208a46;
  background: #29b35b linear-gradient(to bottom, #2ec866, #29b35b);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(32, 138, 70, 0.3);
  &:active {
    background: darken(#29b35b, 6%) linear-gradient(to bottom, darken(#2ec866, 6%), darken(#29b35b, 6%));
  }
}

.btn-danger {
  border-color: #8c1512;
  background: #b61b17 linear-gradient(to bottom, #cc1e1a, #b61b17);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(140, 21, 18, 0.3);
  &:active {
    background: darken(#b61b17, 6%) linear-gradient(to bottom, darken(#cc1e1a, 6%), darken(#b61b17, 6%));
  }
}

.btn-facebook {
  color: #fff;
  border-color: #335190;
  background: #3b5998 linear-gradient(to bottom, #4263a9, #3b5998);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(59, 89, 152, 0.3);
  &:hover,
  &:focus {
    color: #fff;
  }
}

.btn-twitter {
  color: #fff;
  border-color: #009fdb;
  background: #00aced linear-gradient(to bottom, #05baff, #00aced);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(0, 172, 237, 0.3);
  &:hover,
  &:focus {
    color: #fff;
  }
}

.btn-google {
  color: #fff;
  border-color: #d54331;
  background: #dd4b39 linear-gradient(to bottom, #e05d4d, #dd4b39);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(221, 75, 57, 0.3);
  &:hover,
  &:focus {
    color: #fff;
  }
}

.btn-vk {
  color: #fff;
  border-color: #4f7192;
  background: #587ea3 linear-gradient(to bottom, #678aad, #587ea3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(79, 113, 146, 0.3);
  &:hover,
  &:focus {
    color: #fff;
  }
}

.btn-github {
  color: #fff;
  border-color: #444;
  background: #545454 linear-gradient(to bottom, #616161, #545454);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(68, 68, 68, 0.3);
  &:hover,
  &:focus {
    color: #fff;
  }
}

// Forms
// -------------------------

textarea {
  resize: none;
}

.form-control {
  height: auto;
  padding: 8px 12px;
  border: 2px solid #ebebeb;
  border-radius: 0;
  box-shadow: inset 0 1px 2px rgba(150, 160, 175, 0.1), inset 0 1px 15px rgba(150, 160, 175, 0.05);
}

.form-group > label {
  font-weight: normal;
  font-size: 14px;
  line-height: 3;
}

.hr-title {
  height: auto;
  margin-top: 20px;
  border-top: 1px solid;
  color: #bbb;
  font-size: 16px;
  text-align: center;
  line-height: 20px;
}

.hr-title span {
  position: relative;
  padding: 2px 10px;
  top: -10px;
  background-color: #fff;
  border-radius: 2px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

// Other

.header-container {
  margin: 30px 0;
}

.main-well {
  margin: 15px;  /* matches .panel padding in the campaigns list */
}

.large-explanation {
  font-size: 20px;
}

.call-to-action-container {
  text-align: center;
  margin-top: 20px;
}

.call-to-action-container a {
  font-family: $font-family-sans-serif;
  font-size: 20px;
}

.call-to-action-container .sub-caption {
  font-size: 12px;
}

.campaign-panel img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.campaign-panel .desc {
  margin-top: 8px;
  font-size: 16px;
}

form label {
  font-family: $font-family-sans-serif;
}

form button {
  font-family: $font-family-sans-serif;
}

// Campaign page

.organizer-subtitle {
  font-weight: normal;
  color: gray;
}

// Quill font sizes.
.sl-ql-size-small {
  font-size: 12px;
}

.sl-ql-size-large {
  font-size: 30px;
}

.sl-ql-size-huge {
  font-size: 40px;
}
